{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block page_content %}
    <div class="page-header">
        <h1>Add test data</h1>
    </div>
    {% include 'messages.html' %}
<div class="col-md-4 col-md-offset-4">
    <form class="content-block" action="{{ url_for('main.add_test_data') }}" method="POST">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock page_content %}
